certifi
chardet
coreapi
coreschema
defusedxml
diff-match-patch
Django
django-cors-headers
django-crispy-forms
django-filter
django-formtools
django-guardian
django-import-export
django-redis
django-reversion
djangorestframework
djangorestframework-jwt
drf-extensions
et-xmlfile
future
httplib2
idna
itypes
jdcal
Jinja2
Markdown
MarkupSafe
mysqlclient
oauthlib
odfpy
olefile
openpyxl
Pillow
pycryptodome
PyJWT
python3-openid
pytz
PyYAML
qiniu
raven
redis
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
tablib
unicodecsv
uritemplate
urllib3
xlrd
XlsxWriter
xlwt
